body{
    margin: 0;
    padding: 10px;
    background-image: url("../Images/o5rgscx8idc71.jpg");
    background-size: 100%;
    z-index: 1;
    overflow-x: hidden ;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-between;
}
#site-border-bottom,
#site-border-left,
#site-border-right,
#site-border-top {
    background: #000;
    position: fixed;
    z-index: 1
}
#site-border-left,
#site-border-right {
    top: 0;
    bottom: 0;
    width: 10px
}
#site-border-left {
    left: 0
}
#site-border-right {
    right: 0
}
#site-border-bottom,
#site-border-top {
    left: 0;
    right: 0;
    height: 10px
}
#site-border-top {
    top: 0
}
#site-border-bottom {
    bottom: 0
}
/*============================*/
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
.menu__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 7vh;
    right: 5vw;
    z-index: 3;
    cursor: pointer;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute; !important;
    width: 100%;
    height: 3px;
    background-color: rgba(5, 173, 227, 0.58);
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: absolute; !important;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(0, 65, 86, 0.51);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 2;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
.about {
    display: flex;
    margin: auto;
    width: 70%;
    padding: 15px;
    background-color: rgba(0, 65, 86, 0.65);
}

.column {
    /*line-height: 500px;*/
    padding: 170px 0;
    height: 500px;
    flex: 50%;
    color: white;
    font-size: 25px;
    font-family: "OCR A Std", serif;
    text-align: center;
}
.column h1{
    color: orangered;
}
.auto-type{
    color: white;
}
.h2 {
    font-family: Roboto Mono, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #000;

}
.head{
    padding-top:20px ;
    text-align: center;

}
.text-center h1{
    border-right: black solid 1px;
    border-left: black solid 1px;
}
/*======================================*/
.courses-container {
    padding: 50px;
}
.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
}
.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.course-preview {
    background-color: #084d6b;
    color: #fff;
    padding: 30px;
    max-width: 250px;
}

.course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}
.btn {
    background-color: #084d6b;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}
/*About Me*/
/*.box {*/
/*    margin: auto;*/
/*    width: 70%;*/
/*    height: 87vh;*/
/*    padding: 15px;*/
/*    background-color: rgba(0, 65, 86, 0.65);*/
/*}*/
.column-about {
    height: 500px;
    flex: 50%;
    color: white;
    font-family: "OCR A Std", serif;
    text-align: center;
}
.column-child{
    padding:20px;
    margin: auto;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .column-about {
        flex-direction: column;
    }
    .column-child {
        flex-direction: column;
    }
}
.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #be6d1c;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.particle .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin {
    font-weight: 200;
}

@media only screen and (max-width : 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}
/*=====================================*/

/* center container in the middle */
.container_project{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.column_project{
    display: flex;
    flex-direction: row;
    /*height: 500px;*/
    color: white;
    font-family: "OCR A Std", serif;
    text-align: center;
}
.box_project {
    /*margin: auto;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 450px;
    height: 350px;
    background: rgba(5, 149, 227, 0.76);
    box-shadow: 5px 5px 15px rgba(138,254,125, .5);
    border-radius: 10px;
}
.box_project .image img{
    padding: 10px;
    width: 225px;
    height: 175px;
}

/*Slider show*/
.container_slider {
    margin: 40px;
    position: relative;

}
/* Hide the images by default */
.mySlides {
    display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.columnprojects_more {
    flex: 50%;
    color: white;
    font-family: "OCR A Std", serif;
    text-align: center;
}
.box{
    padding: 10px;
    background-color: rgba(5, 149, 227, 0.53);
}
.divider{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #001110;
    color: #fff;
    text-align: center;
    padding-top: 1px;
}
@media (max-width: 800px) {
    .container_project {
        flex-direction: column;
    }
    .column-project {
        flex-direction: column;
    }
    .column-child {
        flex-direction: column;
    }
}