body{
    margin: 0;
    padding: 10px;
    background-image: url("../Images/o5rgscx8idc71.jpg");
    background-size: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-between;

}
#site-border-bottom,
#site-border-left,
#site-border-right,
#site-border-top {
    background: #000;
    position: fixed;
    z-index: 1
}
#site-border-left,
#site-border-right {
    top: 0;
    bottom: 0;
    width: 10px
}
#site-border-left {
    left: 0
}
#site-border-right {
    right: 0
}
#site-border-bottom,
#site-border-top {
    left: 0;
    right: 0;
    height: 10px
}
#site-border-top {
    top: 0
}
#site-border-bottom {
    bottom: 0
}
/*============================*/
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
.menu__btn {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 7vh;
    right: 5vw;
    z-index: 2000;
    cursor: pointer;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(5, 173, 227, 0.58);
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(0, 65, 86, 0.51);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
.container {
    display: flex;
}

.column {
    /*line-height: 500px;*/
    padding: 170px 0;
    height: 500px;
    flex: 50%;
    color: white;
    font-size: 25px;
    font-family: "OCR A Std";
    text-align: center;
}
.column h1{
    color: orangered;
}
.auto-type{
    color: white;
}
.h2 {
    font-family: Roboto Mono, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #000;

}
.head{
    padding-top:20px ;
    text-align: center;

}
.text-center h1{
    border-right: black solid 1px;
    border-left: black solid 1px;
}
.slideshow-container {
    padding: 40px;
    max-width: 800px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*======================================*/
.courses-container {
    padding: 50px;
}
.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.course-preview {
    background-color: #084d6b;
    color: #fff;
    padding: 30px;
    max-width: 250px;
}

.course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}
.btn {
    background-color: #084d6b;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}
/*About Me*/
.box {
    margin: auto;
    width: 70%;
    height: 87vh;
    padding: 15px;
    background-color: rgba(0, 65, 86, 0.65);
}
.column-about {
    height: 500px;
    flex: 50%;
    color: white;
    font-family: "OCR A Std";
    text-align: center;
}
.column-child{
    padding:20px;
    margin: auto;
}
.column-child .progress {
    background-color: #faded3;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
}
.column-child .progress .progress-bar {
    height: .7rem;
    background-color: #f0642d;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .column-about {
        flex-direction: column;
    }
    .column-child {
        flex-direction: column;
    }
}